<a href="https://colab.research.google.com/github/bilalgodesto/TestCode/blob/master/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EDA

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
train_df = pd.read_excel('./Data_Train.xlsx')
train_df.head()

In [ ]:
test_df = pd.read_excel('./Test_set.xlsx');
test_df.head()

In [ ]:
final_df = train_df.append(test_df)
final_df.tail()

In [ ]:
final_df['Date_of_Journey'].str.split('/').str[0]

In [ ]:
final_df['Date'] = final_df['Date_of_Journey'].str.split('/').str[0]
final_df['Month'] = final_df['Date_of_Journey'].str.split('/').str[1]
final_df['Year'] = final_df['Date_of_Journey'].str.split('/').str[2]

final_df.head(2)

In [45]:
final_df['Month'] = final_df['Month'].astype(int)
final_df['Date']  = final_df['Date'].astype(int)
final_df['Year']  = final_df['Year'].astype(int)

In [ ]:
final_df['Arrival_Time'] = final_df['Arrival_Time'].apply( lambda x:x.split(' ')[0])

final_df.head(4)

In [ ]:
final_df['Arrival_hour'] = final_df['Arrival_Time'].apply( lambda x:x.split(':')[0])

final_df['Arrival_min'] = final_df['Arrival_Time'].apply( lambda x:x.split(':')[1])

final_df['Arrival_hour']  = final_df['Arrival_hour'].astype(int)

final_df['Arrival_min']  = final_df['Arrival_min'].astype(int)

final_df.drop('Arrival_Time', axis= 1, inplace = True)

final_df.info()

In [ ]:
final_df['Dep_hour'] = final_df['Dep_Time'].apply( lambda x:x.split(':')[0])
final_df['Dep_min'] = final_df['Dep_Time'].apply( lambda x:x.split(':')[1])
final_df['Dep_hour']  = final_df['Dep_hour'].astype(int)
final_df['Dep_min']  = final_df['Dep_min'].astype(int)

final_df.drop('Dep_Time', axis= 1, inplace = True)
final_df.head(4)

In [48]:
final_df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [ ]:
final_df['Total_Stops']=final_df['Total_Stops'].map(
      {'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4, 'nan': 1})


final_df.head(3)

In [61]:
final_df['duration_hour'] = final_df['Duration'].str.split(' ').str[0].str.split('h').str[0]
final_df[ final_df['duration_hour'] == '5m']

Empty DataFrame
Columns: [Airline, Date_of_Journey, Source, Destination, Route, Dep_Time, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_min, duration_hour]
Index: []

In [60]:
final_df.drop(6474, axis =0 , inplace = True)
final_df.drop(2660, axis =0 , inplace = True)

In [63]:
final_df['duration_hour'] = final_df['duration_hour'].astype('int')
final_df['duration_hour'] = final_df['duration_hour']  * 60
final_df.drop('Duration', axis = 1, inplace = True)
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Date_of_Journey  13351 non-null  object
 2   Source           13351 non-null  object
 3   Destination      13351 non-null  object
 4   Route            13350 non-null  object
 5   Dep_Time         13351 non-null  object
 6   Total_Stops      0 non-null      float64
 7   Additional_Info  13351 non-null  object
 8   Price            10681 non-null  float64
 9   Date             13351 non-null  int64
 10  Month            13351 non-null  int64
 11  Year             13351 non-null  int64
 12  Arrival_hour     13351 non-null  int64
 13  Arrival_min      13351 non-null  int64
 14  duration_hour    13351 non-null  int64
dtypes: float64(2), int64(6), object(7)
memory usage: 1.6+ MB

In [64]:
final_df['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [66]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()

In [70]:
final_df['Airline'] = labelEncoder.fit_transform( final_df['Airline']  )

final_df['Source'] = labelEncoder.fit_transform( final_df['Source']  )

final_df['Destination'] = labelEncoder.fit_transform( final_df['Destination']  )

final_df['Additional_Info'] = labelEncoder.fit_transform( final_df['Additional_Info']  )

final_df.shape

(13351, 15)